* {
    padding: 0;
    margin: 0;
    outline: 0;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
   
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  
  #headline {
    width: 80%;
    padding-bottom: 20px;
    border-bottom: 1px solid #1a1b21;
    font-family: sans-serif;
    font-size: 20px;
    /* color: #aaa; */
    color: orange;
    text-transform: capitalize;
    word-spacing: 5px;
    text-align: left;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 30px;
    gap: 20px;
  }
   
  .row {
    display: flex;
    flex-direction: column;
    padding: 12px;
    /* margin-right: 15px; */
  
    border-left: 1px solid orange;
    border-top:1px solid orange ;
    box-shadow:  10px 10px 10px rgb(200, 197, 197) , 0 0 5px rgb(231, 230, 230);
    /* border-radius: 5px; */
    width: 100px;
    height: 130px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 23.8em;
    color: #aaa;
    text-align: center;
    transition: background-color .25s ease-in-out;
    margin-bottom: 100px;
  }
  
  .row img {
    padding-bottom: 15px;
    border-radius: 6px;
    max-width: 100%;
  }
  
  .row:Hover {
    /* background-color: #1a1b21; */
    background-color: rgb(92, 186, 218);
    cursor: pointer;
  }
  
  #urchoice {
    margin: 60px;
    border-left: 1px solid orange;
    border-top:1px solid orange ;
    box-shadow:  10px 10px 10px rgb(200, 197, 197) , 0 0 5px rgb(231, 230, 230);
    font-size: 16px;
  }
  
  #urchoice input {
    width: 200px;
    line-height: 50px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    border: none;
    box-shadow: 3px 3px 50px whitesmoke;
    color: orange;
  }


  /* CARD DETAILS======= */
  :root {
    --primary-light: #8e8aff;
    --primary: #655dff;
    --primary-dark: #4f46f8;
    --secondary: #17c9ff;
    --alert: #ff6a96;
    --greyLight-1: #e0ecf7;
    --greyLight-2: #c8dbf0;
    --greyDark-1: #92acc4;
    --greyDark-2: #5a768f;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

  }
  
html{
    box-sizing: border-box;
    font-size: 62.5%;
     /* overflow-y: scroll; */
    background: var(--greyLight-1);
    font-family: "Nunito", sans-serif;
    letter-spacing: 0.03rem; 
  }
  
  #payment-details{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  .payment {
    max-width: 74.8rem;
    /* height: 48rem; */
    border-radius: 0.8rem;
    background: #ffffff;
    display: flex; 
    flex-wrap: wrap;   
    /* grid-template-columns: 32rem 24.8rem; */
    padding: 4rem 6rem;
    gap: 6rem;
    align-items: center;
    position: relative;
  }

  @media (max-width: 885px){
    .payment{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    }
  }

  .payment__dots {
    position: absolute;
    top: 0.5rem;
    left: 4rem;
  }
  .payment__shadow-dots {
    position: absolute;
    top: 0.5rem;
    left: 4rem;
    width: 6.5rem;
    height: 11.5rem;
    background: linear-gradient(to bottom, #e0ecf700 0%, #ffffff 100%);
    z-index: 200;
  }
  
  .cards {
    grid-column: 1/2;
    width: 32rem;
    height: 20rem;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 0 2rem;
    align-items: center;
    color: #ffffff;
    background: linear-gradient(to bottom, rgb(92, 186, 218) , orange );
    box-shadow: -0.6rem 0.6rem 1.8rem #4f46f83d;
    border: 1px solid #ffffff;
    z-index: 200;
    position: relative;
  }
  .cards__visa {
    justify-self: flex-end;
    grid-column: 2/3;
    overflow: hidden;
  width: 5.5rem;
  }

@media (max-width:500px){
  .cards{
  width: 25z.5rem;
  /* padding-right: -100px; */
  }
}

  .cards__number {
    font-family: "Roboto Mono", monospace;
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 1.8rem;
    letter-spacing: 0.12rem;
  }
  .cards__name {
    grid-row: 3/4;
  }
  .cards__name h3 {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    font-weight: 300;
  }
  .cards__name p {
    font-size: 1.4rem;
  }
  .cards__expiry {
    grid-row: 3/4;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .cards__expiry h3 {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    font-weight: 300;
  }
  .cards__expiry p {
    font-size: 1.4rem;
  }
  
  .form {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(2, 11rem);
    grid-template-rows: repeat(5, -webkit-min-content);
    grid-template-rows: repeat(5, min-content);
    grid-column-gap: 2.8rem;
    grid-row-gap: 1.2rem;
    /* margin-bottom: 200px; */
  }
  .form h2 {
    font-size: 2rem;
    grid-column: 1/3;
    line-height: 1;
    margin-bottom: 1.4rem;
    font-weight: bold;
    color: orange ;
    font-family: "Inter", sans-serif;
    /* border-bottom: 1px solid rgb(92, 186, 218); */

  }
  .form__detail {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding-bottom: 0.6rem;
    color: var(--greyDark-1);
  }
  .form__name {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: stretch;
  }
  .form__number {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: stretch;
  }
  .form__expiry {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .form__cvv {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: flex-end;
    width: 100%;
  }
  .form__cvv input[type=checkbox] {
    display: none;
  }
  .form__cvv .info {
    top: -0.4rem;
    left: 2.4rem;
    color: var(--greyDark-1);
  }
  .form__btn {
    grid-column: 1/3;
    grid-row: 5/6;
    height: 3.8rem;
    border-radius: 0.6rem;
    border: none;
    background: rgb(92, 186, 218);
    color: #ffffff;
    justify-self: stretch;
    font-family: inherit;
    font-size: 1.6rem;
    cursor: pointer;
  }
  .form__btn:focus {
    outline: none;
  }
  .form__btn:hover {
    background: orange;
  }
  .form ion-icon {
    position: absolute;
    font-size: 2rem;
    top: 3.4rem;
    margin-left: 1rem;
    color: var(--primary-light);
    stroke: var(--primary);
  }
  .form label {
    pointer-events: none;
    font-size: 1.4rem;
    padding: 0 0 1rem 0;
    line-height: 1;
    color: var(--greyDark-1);
  }
  .form input {
    padding: 1rem 1rem 1rem 4rem;
    border: none;
    background: transparent;
    border-radius: 0.6rem;
    border: 1px solid var(--greyLight-2);
    color: var(--greyDark-2);
    font-family: inherit;
    font-size: 1.4rem;
  }
  .form input::-moz-placeholder {
    color: var(--greyLight-1);
    font-size: inherit;
    letter-spacing: 0.12rem;
  }
  .form input:-ms-input-placeholder {
    color: var(--greyLight-1);
    font-size: inherit;
    letter-spacing: 0.12rem;
  }
  .form input::placeholder {
    color: var(--greyLight-1);
    font-size: inherit;
    letter-spacing: 0.12rem;
  }
  .form input:focus {
    outline: none;
  }
  .form input:hover {
    border: 1px solid var(--primary-light);
  }
  
  .alert {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    color: var(--alert);
    margin-top: 0.6rem;
    display: flex;
    align-items: center;
    opacity: 0;
  }
  .alert svg {
    margin-right: 0.4rem;
  }
  
  .dribbble {
    position: fixed;
    font-size: 36px;
    right: 20px;
    bottom: 20px;
    color: #EA4C89;
  }

  #easypaisa{
    width: 70%;
    box-shadow: 3px 3px 20px whitesmoke;
    background-color: white;
    padding: 30px 20px;
    display: none;
  }

  #easypaisa1{
    color: orange;
    text-transform: capitalize;
    font-weight: bold;
    padding: 30px 0 5px 0;
border-bottom: 2px solid rgb(188, 186, 186);
font-family: math;
  }

  .form-label{
    font-size: 20px;
    text-transform: capitalize;
    color: gray;
    padding: 30px 0 10px 0;
    font-family: math;
  }

  .formmm input{
    padding: 8px 0 8px 15px;
    width: 40%;
  }

  .policy{
    line-height: 20px;
    margin-top: 20px;
    font-size: 16px;
    font-family: math;
    color: gray;
  }


